.log-form {
  width: 15%;
  background: rgba(50, 50, 50, 0.4);
  margin-left: 70%;
  padding: 80px 0;
}

.log-form h3 {
  width: 60%;
  margin: auto;
  color: white;
}

.log-form button {
  width: 84%;
  margin: auto;
  background-color: #FFDE25;
  border: none;
  margin-top: 8px;
  padding: 10px 10px;
}

header {
  width: 100%;
  text-align: center;
  background: url(png/image-header.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  background-size: cover;
}


form input {
  width: 80%;
  margin-top: 8px;
  border: none;
  padding: 10px 10px;
}

main {
  text-align: center;
}

main p {

  font-size: 18px;
  margin: 30px 0;
}

main h3 {
  font-weight: bold;
  font-size: 22px;
  margin: 30px 0;
}

.articles-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-article {
  display: flex;
  justify-content: space-around;
  border: 4px solid lightgray;
  border-radius: 4px;
  width: 20%;
}

.single-article .number-holder {
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  width: 25%;
  padding: 0.5em 0;
}

.single-article .text-holder {
  width: 75%;
  text-align: left;
}

.arrow {
  width: 30px;
  height: 35px;
  margin-right: -5px;
}

.our-people {
  display: flex;
  justify-content: center;
}

.single-person {
  border: 4px solid lightgray;
  border-radius: 4px;
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin: 0 15px;
  align-items: center;
  padding: 10px;
}

.person-photo {
  width: 15%;
  padding: 5px;

}

.person-photo img {
  width: 100%;
  border-radius: 50%;
}

.person-info {
  padding-left: 10px;
  width: 85%;
  text-align: left;
}

.main-btn {
  width: 30%;
  background: #F16529;
  border: none;
  padding: 10px 60px;
  color: white;
  margin-top: 60px;
}

.logos-holder {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.logos-holder img {
  width: 50px;
  height: 60px;
}

footer {
  background: lightgray;
  padding: 10px 20px;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
  margin: 0 10px;
}

.nav-links {
  text-decoration: none;
  text-transform: uppercase;
}

footer p {
  width: 65%;
  margin: auto;
  text-align: center;
}

/* Tablet View */
@media screen and (max-width: 1280px) {
  .log-form {
    margin-left: 60%;
    width: 40%;
  }

  .articles-holder {
    flex-direction: column;
  }

  .single-article {
    width: 85%;
    margin-bottom: -20px;
  }

  .arrow {
    transform: rotate(90deg);
    margin-left: 75%;
    width: 40px;
    height: 45px;
  }

  .number-holder {
    width: 5%;
  }

  .text-holder {
    width: 90%;
  }

  .our-people {
    flex-direction: column;
  }

  .single-person {
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
  }

  .main-btn {
    width: 77%;
    padding: 20px 0;
  }

  footer p {
    width: 85%;
  }
}

/* Mobile View */
@media screen and (max-width: 640px) {
  .log-form {
    width: 90%;
    margin: auto;
    margin-left: 5%;
    position: relative;
    top: 1495px;
  }

  .main-btn {
    margin: 135px 0 80px 0;
    position: relative;
    bottom: 1425px;
  }

  .arrow {
    margin-left: 0;
  }


  .single-person {
    flex-direction: column;
  }

  .person-info {
    text-align: center;
  }

  .logos-holder {
    flex-direction: column;
  }

  .logos-holder img {
    width: 80px;
    height: 90px;

  }

  .footer-nav ul {
    flex-direction: column;
  }

  .footer-nav ul li {
    text-align: center;
    margin: 5px 0;
  }

  footer p {
    width: 60%;
  }
}